<!-- Fichier à suprimé sert pour la visualisation  -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav/footer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav>
        <ul class="nav justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" alt="..." height="50"></a>
                <li class="nav-item">
                    <a class="nav-link active text-secondary" href="/" aria-current="page">ACCUEIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="">NOURRITURE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="">JOUETS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="">ACCESOIRES</a>
                </li>
        </ul>
    </nav>

    <div style="height: 535px"></div>
    


    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="/img/paimentsSecurisés.png" style="height: 50px;" alt=""/>
                <p>PAIEMENTS SÉCURISÉS CB,<br> 
                    PAYPAL, CHÈQUE</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
                <img src="/img/livraison.png" style="height: 50px;" alt=""/>
                <p>LIVRAISON RAPIDE ET <br>
                    GRATUITE DÈS 35€ D'ACHAT</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
                <img src="/img/achatSatisfaitOuRemboursé.png" style="height: 50px;" alt=""/>
                <p>ACHAT SATISFAIT OU <br> 
                    REMBOURSÉ 15 JOURS</p>
            </div><!-- /.col-lg-4 -->
        </div>

        <div class="d-flex align-items-end  bg-dark"  style="height: 240px">
            <div class="text-center mx-auto text-white"> © 2024 Copyright - DogShop</div>
        </div>
    </footer>
</body>
</html>
